<div>
    <img src="{{movies.image}}" alt="movie-photo"/>
    <br>
    <p>{{movies.title}}
    <br>
    Director: {{movies.director}}
    <br>
    Actors: {{movies.stars}}
    <br>
    Description: {{movies.description}}
    <br>
    Showtimes: {{movies.showtimes}}
    <br>
    <a href="/">Back to Hompage</a> &nbsp &nbsp &nbsp <a href="/movies">Back to Movies</a>
    </p> 
</div>